@model UserListViewModel

@{
    Layout = "";
    //ViewBag.Title = "Users";
}

<div style="padding: 10px;"></div>
<div class="card col-md-12 align-content-center">
    <div class="big-table">
        <table class="table table-striped">
            <thead class="table-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            @foreach (User user in @Model.allUsers)
            {
                <tr>
                    <td>@user.id</td>
                    <td>@user.loginName</td>
                    <td>@user.email</td>
                    <td>@user.role</td>
                    <td>
                        <form asp-action="DeleteUser" asp-controller="User" asp-route-id="@user.id" method="post">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
<!--
section pageScripts
{
    <script>
        function model() {
            return {
                name: $('input#Name').val(),
                role: $('#selectRoleId').val(),
                address: $('textarea#Address').val(),
            }
        };
        
       $('#saveBtn').on('click', function () {
           $.ajax({
               url: '@Url.Action("Save")',
               type: 'POST',
               data: model(),
           }) 
      });
    </script>
}
-->